<h1>Images</h1>
<%= form_tag images_path, :method => 'get', id: "search-form" do %>
<p>
  <%= text_field_tag :search, params[:search], placeholder: "Search Images"  %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<% if @images %>
<% @images.each_slice(3) do |images| %>
<div class="row">
  <% images.each do |image| %>
  <div class="col-md-4">
    <%= link_to image_tag("#{image.urls.regular}",  class: "rounded float-left", width: "304", height: "236"), image.urls.full %>
    <%= button_to("Save", {:controller => "users", :action => "save", :url => image.urls.full}, class: "btn btn-primary col-md-offset-4") if logged_in? %>
  </div>
  <% end %>
</div>
<% end %>
<% end %>
